<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
      <div class="navbar-translate">
          <a class="navbar-brand" routerLink="/home"><img src="assets/img/logo.jpg" height="42">&nbsp; HIPA DRIVE Onboarding Site</a>
          <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
              </li>
              <li class="nav-item">
                <a routerLink="/checklist" routerLinkActive="active" class="nav-link">Checklist</a>
              </li>
              <li class="nav-item">
                <a routerLink="/support" routerLinkActive="active" class="nav-link">Support</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
