<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/tower-bg.jpg');">
        <div class="filter">
            <div class="container">
                <div class="motto text-center">
                    <h1>About</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section text-center" id="carousel">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Celcom Digital Design</h2>
                    <h5 class="description">An Introduction to Design Chapter</h5>
                    <hr>
                    <h6>Celcom Digital: Level 15&16 @Celcom HQ PJ<br/>
                        Design Chapter: Level 16</h6>
                    <br>
                    <div class="card page-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <img src="./assets/img/Picture1.jpg">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/Picture2.jpg">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/Picture3.jpg">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/Picture4.jpg">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/Picture5.jpg">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/Picture6.jpg">
                            </ng-template>
                        </ngb-carousel>
                        <div class="carousel-caption">
                            <p>Design Thinking, Design Sprints & Workshops</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-image section-login" style="background-image: url('assets/img/login-image.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title">Who are we collectively?</h1><br/>
                    <p class="description">
                        We are not graphic designers or art directors. We are (at our core) 
                        <span style="font-size: large; font-weight: bolder; color: white;">User Experience Designers</span>, where we strive to delivery best possible experience to our users while staying inline with business objectives.
                    </p>
                </div>
            </div>
        </div>
        <br/><br/>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 mr-auto">
                    <br/>
                    <img src="./assets/img/ill-2.svg">
                </div>
                <div class="col-lg-6 col-md-12">
                   <h2 class="title">We are</h2>
                   <hr/>
                   <p class="description"><i class="nc-icon nc-diamond"></i> User Experience Designers<br/>
                   <i class="nc-icon nc-diamond"></i> Design Thinkers<br/>
                   <i class="nc-icon nc-diamond"></i> Digital Design Experts<br/>
                   <i class="nc-icon nc-diamond"></i> Interface Designers<br/>
                   <i class="nc-icon nc-diamond"></i> Design Consultants</p>
                   <h2 class="title" style="text-align: right;">Our Way</h2>
                   <hr>
                   <p class="description"  style="text-align: right;">User Experience Designers <i class="nc-icon nc-diamond"></i> <br/>
                   Championing the Users <i class="nc-icon nc-diamond"></i> <br/>
                   User Experience First <i class="nc-icon nc-diamond"></i> <br/>
                   User outcome driven <i class="nc-icon nc-diamond"></i> <br/>
                   Agile ways of work <i class="nc-icon nc-diamond"></i> <br/>
                   Consistency First <i class="nc-icon nc-diamond"></i> </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section text-center" style="justify-content: center;">
        <div class="container">
            <h2 class="title">What we do in the Design Chapter?</h2>
            <div class="row">
                <div class="col-md-12">
                    <br/>
                    <img src="./assets/img/Capture.PNG" width="auto">
                </div>
            </div>
        </div>
    </div>
</div>
    