<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <img src="./assets/img/logo.png" height="30" style="margin-bottom: 22px;"> 
                </span>
            </div>
        </div>
    </div>
</footer>
