<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/tower-bg.jpg')">
      <div class="filter"></div>
      <div class="content-center">
          <div class="container">
              <div class="title-brand">
                  <h1 class="presentation-title">Welcome aboard!</h1>
              </div>

              <h2 class="presentation-subtitle text-center">Let's get started with your HIPA DRIVE journey!</h2>
          </div>
      </div>
      <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
  </div>
  <div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Let's get started</h2>
                </div>
            </div>
            <br/><br/>
            <div class="row"> 
                <div class="col-md-4">
                    <a routerLink="/about">
                        <div class="service-item text-center">
                            <div class="services-icon">
                                <i class="nc-icon nc-alert-circle-i"></i>
                            </div>
                            <h4 class="service-title">About</h4>
                            <p class="service-description">
                                Learn more about Celcom Digital Design and Design Thinkers
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/checklist">
                        <div class="service-item text-center">
                            <div class="services-icon">
                                <i class="nc-icon nc-bullet-list-67"></i>
                            </div>
                            <h4 class="service-title">Checklist</h4>
                            <p class="service-description">
                                Find out all the setup required and guides to get started
                            </p>
                        </div> 
                    </a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/support">
                        <div class="service-item text-center" >
                            <div class="services-icon">
                                <i class="nc-icon nc-support-17"></i>
                            </div>
                            <h4 class="service-title">Support</h4>
                            <p class="service-description">
                                List of helpful resources and contacts for your reference
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
      </div>
      
    <div class="section section-dark section-image text-center" style="background-image: url('assets/img/intro.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h2 class="title">Celcom Digital Vision</h2>
                    <h4 class="title">
                        "To become the digital telco champion by 2022, <br/> delivering an awesome digital customer experience"
                    </h4> 
                </div>
                <div class="col-lg-6 col-md-6">
                    <img src="./assets/img/logo.png" height="200">
                </div>
            </div>
        </div>
    </div>
</div>
</div>