<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/tower-bg.jpg');">
      <div class="filter">
          <div class="container">
              <div class="motto text-center">
                  <h1>Checklist</h1>
              </div>
          </div>
      </div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <br/>
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
              <ngb-tabset [justify]="'center'">
                  <ngb-tab title="Setup">
                      <ng-template ngbTabContent >
                          <div class="row following" id="follows">
                              <div class="col-md-6 ml-auto mr-auto">
                                  <ul class="list-unstyled follows">
                                      <li *ngFor="let item of setup">
                                        <div class="row">
                                            <div class="col-md-7 col-sm-4 ml-auto">
                                                <h6>{{item}}</h6>
                                            </div>
                                            <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                <div class="form-check">
                                                  <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="form-check-sign"></span>
                                                  </label>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Software Requirements">
                      <ng-template ngbTabContent>
                        <div class="row following" id="follows">
                          <div class="col-md-6 ml-auto mr-auto">
                              <ul class="list-unstyled follows">
                                <li *ngFor="let name of software">
                                    <div class="row">
                                        <div class="col-md-7 col-sm-4 ml-auto">
                                            <h6>{{name}}</h6>
                                        </div>
                                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox">
                                                <span class="form-check-sign"></span>
                                              </label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                  </li>
                              </ul>
                          </div>
                      </div>
                      </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Routine">
                    <ng-template ngbTabContent>
                      <div class="row following" id="follows">
                        <div class="col-md-2 ml-auto mr-auto">
                            <ul class="list-unstyled follows">
                                <li><h3 class="text-primary">Digital</h3>
                                </li>
                                <hr />
                                <li><h6>Friday Stand-Up - <small>9.00am</small></h6>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2 ml-auto mr-auto">
                          <ul class="list-unstyled follows">
                              <li><h3 class="text-primary">Design</h3>
                              </li>
                              <hr />
                              <li><h6>Daily Stand-Up </h6>
                                <p>Monday-Thursday: 10.30am</p>
                                <p>Friday: After Friday Stand-Up</p>
                              </li>
                          </ul>
                      </div>
                      <div class="col-md-2 ml-auto mr-auto">
                        <ul class="list-unstyled follows">
                            <li><h3 class="text-primary">Casual</h3>
                            </li>
                            <hr />
                            <li><h6>Team Lunch</h6>
                            </li>
                            <hr />
                            <li><h6>Coffee Session</h6>
                            </li>
                            <hr />
                            <li><h6>Team Building</h6>
                            </li>
                            <hr />
                            <li><h6>Team Outing</h6>
                            </li>
                            <hr />
                            <li><h6>WhatsApp Spamming</h6>
                            </li>
                        </ul>
                    </div>
                    </div>
                    </ng-template>
                </ngb-tab>
              </ngb-tabset>
          </div>
      </div>
    </div>
    </div>
</div>

